configure
Makefile.in
autom4te.cache
*~
*.la
*.lo
*.o
*.a
.deps
.libs
Makefile
aclocal.m4
config.guess
config.log
config.status
config.sub
*.done
include/dix-config.h
include/do-not-use-config.h
include/stamp-h*
include/xkb-config.h
include/xorg-config.h
include/xorg-server.h
include/xwin-config.h
install-sh
libtool
ltmain.sh
missing
xorg-server.pc
doc/Xserver.1
doc/Xserver.man
include/do-not-use-config.h.in
hw/xfree86/common/xf86Build.h
compile
depcomp
*#
hw/nxagent/nxagent
ylwrap
GL/glx/glcontextmodes.c
GL/glx/glcontextmodes.h
GL/glx/indirect_size.c
GL/glx/indirect_size.h
GL/mesa/X/drivers/
GL/mesa/X/glxheader.h
GL/mesa/X/xm_api.c
GL/mesa/X/xm_buffer.c
GL/mesa/X/xm_dd.c
GL/mesa/X/xm_line.c
GL/mesa/X/xm_span.c
GL/mesa/X/xm_tri.c
GL/mesa/X/xmesaP.h
GL/mesa/array_cache/ac_context.c
GL/mesa/array_cache/ac_context.h
GL/mesa/array_cache/ac_import.c
GL/mesa/array_cache/acache.h
GL/mesa/glapi/dispatch.h
GL/mesa/glapi/glapi.c
GL/mesa/glapi/glapi.h
GL/mesa/glapi/glapioffsets.h
GL/mesa/glapi/glapitable.h
GL/mesa/glapi/glapitemp.h
GL/mesa/glapi/glprocs.h
GL/mesa/glapi/glthread.c
GL/mesa/glapi/glthread.h
GL/mesa/main/accum.c
GL/mesa/main/accum.h
GL/mesa/main/api_arrayelt.c
GL/mesa/main/api_arrayelt.h
GL/mesa/main/api_eval.h
GL/mesa/main/api_loopback.c
GL/mesa/main/api_loopback.h
GL/mesa/main/api_noop.c
GL/mesa/main/api_noop.h
GL/mesa/main/api_validate.c
GL/mesa/main/api_validate.h
GL/mesa/main/attrib.c
GL/mesa/main/attrib.h
GL/mesa/main/blend.c
GL/mesa/main/blend.h
GL/mesa/main/bufferobj.c
GL/mesa/main/bufferobj.h
GL/mesa/main/buffers.c
GL/mesa/main/buffers.h
GL/mesa/main/clip.c
GL/mesa/main/clip.h
GL/mesa/main/colormac.h
GL/mesa/main/colortab.c
GL/mesa/main/colortab.h
GL/mesa/main/config.h
GL/mesa/main/context.c
GL/mesa/main/context.h
GL/mesa/main/convolve.c
GL/mesa/main/convolve.h
GL/mesa/main/dd.h
GL/mesa/main/debug.c
GL/mesa/main/debug.h
GL/mesa/main/depth.c
GL/mesa/main/depth.h
GL/mesa/main/dispatch.c
GL/mesa/main/dlist.c
GL/mesa/main/dlist.h
GL/mesa/main/drawpix.c
GL/mesa/main/drawpix.h
GL/mesa/main/enable.c
GL/mesa/main/enable.h
GL/mesa/main/enums.c
GL/mesa/main/enums.h
GL/mesa/main/eval.c
GL/mesa/main/eval.h
GL/mesa/main/execmem.c
GL/mesa/main/extensions.c
GL/mesa/main/extensions.h
GL/mesa/main/fbobject.c
GL/mesa/main/fbobject.h
GL/mesa/main/feedback.c
GL/mesa/main/feedback.h
GL/mesa/main/fog.c
GL/mesa/main/fog.h
GL/mesa/main/framebuffer.c
GL/mesa/main/framebuffer.h
GL/mesa/main/get.c
GL/mesa/main/get.h
GL/mesa/main/getstring.c
GL/mesa/main/glheader.h
GL/mesa/main/hash.c
GL/mesa/main/hash.h
GL/mesa/main/hint.c
GL/mesa/main/hint.h
GL/mesa/main/histogram.c
GL/mesa/main/histogram.h
GL/mesa/main/image.c
GL/mesa/main/image.h
GL/mesa/main/imports.c
GL/mesa/main/imports.h
GL/mesa/main/light.c
GL/mesa/main/light.h
GL/mesa/main/lines.c
GL/mesa/main/lines.h
GL/mesa/main/macros.h
GL/mesa/main/matrix.c
GL/mesa/main/matrix.h
GL/mesa/main/mm.c
GL/mesa/main/mm.h
GL/mesa/main/mtypes.h
GL/mesa/main/occlude.c
GL/mesa/main/occlude.h
GL/mesa/main/pixel.c
GL/mesa/main/pixel.h
GL/mesa/main/points.c
GL/mesa/main/points.h
GL/mesa/main/polygon.c
GL/mesa/main/polygon.h
GL/mesa/main/rastpos.c
GL/mesa/main/rastpos.h
GL/mesa/main/renderbuffer.c
GL/mesa/main/renderbuffer.h
GL/mesa/main/simple_list.h
GL/mesa/main/state.c
GL/mesa/main/state.h
GL/mesa/main/stencil.c
GL/mesa/main/stencil.h
GL/mesa/main/texcompress.c
GL/mesa/main/texcompress.h
GL/mesa/main/texcompress_fxt1.c
GL/mesa/main/texcompress_s3tc.c
GL/mesa/main/texenvprogram.c
GL/mesa/main/texenvprogram.h
GL/mesa/main/texformat.c
GL/mesa/main/texformat.h
GL/mesa/main/texformat_tmp.h
GL/mesa/main/teximage.c
GL/mesa/main/teximage.h
GL/mesa/main/texobj.c
GL/mesa/main/texobj.h
GL/mesa/main/texrender.c
GL/mesa/main/texrender.h
GL/mesa/main/texstate.c
GL/mesa/main/texstate.h
GL/mesa/main/texstore.c
GL/mesa/main/texstore.h
GL/mesa/main/varray.c
GL/mesa/main/varray.h
GL/mesa/main/version.h
GL/mesa/main/vsnprintf.c
GL/mesa/main/vtxfmt.c
GL/mesa/main/vtxfmt.h
GL/mesa/main/vtxfmt_tmp.h
GL/mesa/math/m_clip_tmp.h
GL/mesa/math/m_copy_tmp.h
GL/mesa/math/m_debug.h
GL/mesa/math/m_debug_clip.c
GL/mesa/math/m_debug_norm.c
GL/mesa/math/m_debug_util.h
GL/mesa/math/m_debug_xform.c
GL/mesa/math/m_dotprod_tmp.h
GL/mesa/math/m_eval.c
GL/mesa/math/m_eval.h
GL/mesa/math/m_matrix.c
GL/mesa/math/m_matrix.h
GL/mesa/math/m_norm_tmp.h
GL/mesa/math/m_trans_tmp.h
GL/mesa/math/m_translate.c
GL/mesa/math/m_translate.h
GL/mesa/math/m_vector.c
GL/mesa/math/m_vector.h
GL/mesa/math/m_xform.c
GL/mesa/math/m_xform.h
GL/mesa/math/m_xform_tmp.h
GL/mesa/math/mathmod.h
GL/mesa/shader/arbfragparse.c
GL/mesa/shader/arbfragparse.h
GL/mesa/shader/arbprogparse.c
GL/mesa/shader/arbprogparse.h
GL/mesa/shader/arbprogram.c
GL/mesa/shader/arbprogram.h
GL/mesa/shader/arbprogram_syn.h
GL/mesa/shader/arbvertparse.c
GL/mesa/shader/arbvertparse.h
GL/mesa/shader/atifragshader.c
GL/mesa/shader/atifragshader.h
GL/mesa/shader/grammar/grammar.c
GL/mesa/shader/grammar/grammar.h
GL/mesa/shader/grammar/grammar_mesa.c
GL/mesa/shader/grammar/grammar_mesa.h
GL/mesa/shader/grammar/grammar_syn.h
GL/mesa/shader/nvfragparse.c
GL/mesa/shader/nvfragparse.h
GL/mesa/shader/nvfragprog.h
GL/mesa/shader/nvprogram.c
GL/mesa/shader/nvprogram.h
GL/mesa/shader/nvvertexec.c
GL/mesa/shader/nvvertexec.h
GL/mesa/shader/nvvertparse.c
GL/mesa/shader/nvvertparse.h
GL/mesa/shader/nvvertprog.h
GL/mesa/shader/program.c
GL/mesa/shader/program.h
GL/mesa/shader/shaderobjects.c
GL/mesa/shader/shaderobjects.h
GL/mesa/shader/shaderobjects_3dlabs.c
GL/mesa/shader/shaderobjects_3dlabs.h
GL/mesa/shader/slang/library/
GL/mesa/shader/slang/slang_assemble.c
GL/mesa/shader/slang/slang_assemble.h
GL/mesa/shader/slang/slang_assemble_assignment.c
GL/mesa/shader/slang/slang_assemble_assignment.h
GL/mesa/shader/slang/slang_assemble_conditional.c
GL/mesa/shader/slang/slang_assemble_conditional.h
GL/mesa/shader/slang/slang_assemble_constructor.c
GL/mesa/shader/slang/slang_assemble_constructor.h
GL/mesa/shader/slang/slang_assemble_typeinfo.c
GL/mesa/shader/slang/slang_assemble_typeinfo.h
GL/mesa/shader/slang/slang_compile.c
GL/mesa/shader/slang/slang_compile.h
GL/mesa/shader/slang/slang_execute.c
GL/mesa/shader/slang/slang_execute.h
GL/mesa/shader/slang/slang_mesa.h
GL/mesa/shader/slang/slang_preprocess.c
GL/mesa/shader/slang/slang_preprocess.h
GL/mesa/shader/slang/slang_storage.c
GL/mesa/shader/slang/slang_storage.h
GL/mesa/shader/slang/slang_utility.c
GL/mesa/shader/slang/slang_utility.h
GL/mesa/shader/slang/traverse_wrap.h
GL/mesa/swrast/s_aaline.c
GL/mesa/swrast/s_aaline.h
GL/mesa/swrast/s_aalinetemp.h
GL/mesa/swrast/s_aatriangle.c
GL/mesa/swrast/s_aatriangle.h
GL/mesa/swrast/s_aatritemp.h
GL/mesa/swrast/s_accum.c
GL/mesa/swrast/s_accum.h
GL/mesa/swrast/s_alpha.c
GL/mesa/swrast/s_alpha.h
GL/mesa/swrast/s_atifragshader.c
GL/mesa/swrast/s_atifragshader.h
GL/mesa/swrast/s_bitmap.c
GL/mesa/swrast/s_blend.c
GL/mesa/swrast/s_blend.h
GL/mesa/swrast/s_buffers.c
GL/mesa/swrast/s_context.c
GL/mesa/swrast/s_context.h
GL/mesa/swrast/s_copypix.c
GL/mesa/swrast/s_depth.c
GL/mesa/swrast/s_depth.h
GL/mesa/swrast/s_drawpix.c
GL/mesa/swrast/s_drawpix.h
GL/mesa/swrast/s_feedback.c
GL/mesa/swrast/s_feedback.h
GL/mesa/swrast/s_fog.c
GL/mesa/swrast/s_fog.h
GL/mesa/swrast/s_fragprog_to_c.c
GL/mesa/swrast/s_imaging.c
GL/mesa/swrast/s_lines.c
GL/mesa/swrast/s_lines.h
GL/mesa/swrast/s_linetemp.h
GL/mesa/swrast/s_logic.c
GL/mesa/swrast/s_logic.h
GL/mesa/swrast/s_masking.c
GL/mesa/swrast/s_masking.h
GL/mesa/swrast/s_nvfragprog.c
GL/mesa/swrast/s_nvfragprog.h
GL/mesa/swrast/s_pixeltex.c
GL/mesa/swrast/s_pixeltex.h
GL/mesa/swrast/s_points.c
GL/mesa/swrast/s_points.h
GL/mesa/swrast/s_pointtemp.h
GL/mesa/swrast/s_readpix.c
GL/mesa/swrast/s_span.c
GL/mesa/swrast/s_span.h
GL/mesa/swrast/s_spantemp.h
GL/mesa/swrast/s_stencil.c
GL/mesa/swrast/s_stencil.h
GL/mesa/swrast/s_tcc.c
GL/mesa/swrast/s_texstore.c
GL/mesa/swrast/s_texture.c
GL/mesa/swrast/s_texture.h
GL/mesa/swrast/s_triangle.c
GL/mesa/swrast/s_triangle.h
GL/mesa/swrast/s_trispan.h
GL/mesa/swrast/s_tritemp.h
GL/mesa/swrast/s_zoom.c
GL/mesa/swrast/s_zoom.h
GL/mesa/swrast/swrast.h
GL/mesa/swrast_setup/ss_context.c
GL/mesa/swrast_setup/ss_context.h
GL/mesa/swrast_setup/ss_triangle.c
GL/mesa/swrast_setup/ss_triangle.h
GL/mesa/swrast_setup/ss_tritmp.h
GL/mesa/swrast_setup/ss_vb.h
GL/mesa/swrast_setup/swrast_setup.h
GL/mesa/tnl/t_array_api.c
GL/mesa/tnl/t_array_api.h
GL/mesa/tnl/t_array_import.c
GL/mesa/tnl/t_array_import.h
GL/mesa/tnl/t_context.c
GL/mesa/tnl/t_context.h
GL/mesa/tnl/t_pipeline.c
GL/mesa/tnl/t_pipeline.h
GL/mesa/tnl/t_save_api.c
GL/mesa/tnl/t_save_api.h
GL/mesa/tnl/t_save_loopback.c
GL/mesa/tnl/t_save_playback.c
GL/mesa/tnl/t_vb_arbprogram.c
GL/mesa/tnl/t_vb_arbprogram.h
GL/mesa/tnl/t_vb_arbprogram_sse.c
GL/mesa/tnl/t_vb_cliptmp.h
GL/mesa/tnl/t_vb_cull.c
GL/mesa/tnl/t_vb_fog.c
GL/mesa/tnl/t_vb_light.c
GL/mesa/tnl/t_vb_lighttmp.h
GL/mesa/tnl/t_vb_normals.c
GL/mesa/tnl/t_vb_points.c
GL/mesa/tnl/t_vb_program.c
GL/mesa/tnl/t_vb_render.c
GL/mesa/tnl/t_vb_rendertmp.h
GL/mesa/tnl/t_vb_texgen.c
GL/mesa/tnl/t_vb_texmat.c
GL/mesa/tnl/t_vb_vertex.c
GL/mesa/tnl/t_vertex.c
GL/mesa/tnl/t_vertex.h
GL/mesa/tnl/t_vertex_generic.c
GL/mesa/tnl/t_vertex_sse.c
GL/mesa/tnl/t_vp_build.c
GL/mesa/tnl/t_vp_build.h
GL/mesa/tnl/t_vtx_api.c
GL/mesa/tnl/t_vtx_api.h
GL/mesa/tnl/t_vtx_eval.c
GL/mesa/tnl/t_vtx_exec.c
GL/mesa/tnl/t_vtx_generic.c
GL/mesa/tnl/t_vtx_x86.c
GL/mesa/tnl/tnl.h
hw/xnest/Xnest.man
doc/Xserver.1x
hw/vfb/Xvfb
hw/vfb/Xvfb.1x
hw/vfb/Xvfb.man
hw/xnest/Xnest
hw/xnest/Xnest.1x
